<p id="notice"><%= notice %></p>


<p>
  <strong>Date:</strong>
  <%= @recent.Date %>
</p>

<p>
  <strong>Route:</strong>
  <%= @recent.route %>
</p>



<p>
  <strong>Time:</strong>
  <%= @recent.time %>
</p>

<p>
  <strong>Distance:</strong>
  <%= @recent.distance %>
</p>

<p>
  <strong>Average:</strong>
  <%= @recent.average %>
</p>


<p>
  <strong>Fastest:</strong>
  <%= @recent.fastest %>
</p>


<p>
  <strong>Notes:</strong>
  <%= @recent.notes %>
</p>

<%= link_to 'Edit', edit_recent_path(@recent) %> |
<%= link_to 'Back', recents_path %>
