<%= simple_form_for(@sleep) do |f| %>
  <%= f.error_notification %>

  <div class="inputs">
    <%= f.input :date %>
    <%= f.input :duration %>
  </div>

  <div class="actions">
    <%= f.button :submit %>
  </div>
<% end %>
