<h4>Sleep</h4>

<table class="table">
  <thead>
    <tr>
      <th>Date</th>
      <th>Duration</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @sleeps.each do |sleep| %>
      <tr>
        <td><%= sleep.date %></td>
        <td><%= sleep.duration %></td>
        <td><%= link_to 'Show', sleep %></td>
        <td><%= link_to 'Edit', edit_sleep_path(sleep) %></td>
        <td><%= link_to 'Destroy', sleep, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<button class="btn">
<%= link_to 'New Sleep', new_sleep_path %>
</button>