<%= simple_form_for(@weight_training) do |f| %>
  <%= f.error_notification %>

  <div class="inputs">
    <%= f.input :date %>
    <% @exercise_types.each do |exercise_type| %>
	  <%= f.input exercise_type.name %>
	<% end %>
  </div>

  <div class="actions">
    <%= f.button :submit %>
  </div>
<% end %>
