<%= simple_form_for(@weight_training) do |f| %>
  <%= f.error_notification %>

  <div class="inputs">
    <%= f.input :date %>
    <%= f.input :push_up %>
    <%= f.input :sit_up %>
    <%= f.input :toe_raise %>
    <%= f.input :squat %>
    <%= f.input :leg_extension %>
    <%= f.input :curl %>
    <%= f.input :tricep_exstension %>
    <%= f.input :should_press %>
    <%= f.input :lat_pulldown %>
    <%= f.input :bench_press %>
    <%= f.input :seated_row %>
    <%= f.input :peck_fly %>
  </div>

  <div class="actions">
    <%= f.button :submit %>
  </div>
<% end %>
