<p id="notice"><%= notice %></p>

<p>
  <strong>Date:</strong>
  <%= @weight_training.date %>
</p>

<p>
  <strong>Push up:</strong>
  <%= @weight_training.push_up %>
</p>

<p>
  <strong>Sit up:</strong>
  <%= @weight_training.sit_up %>
</p>

<p>
  <strong>Toe raise:</strong>
  <%= @weight_training.toe_raise %>
</p>

<p>
  <strong>Squat:</strong>
  <%= @weight_training.squat %>
</p>

<p>
  <strong>Leg extension:</strong>
  <%= @weight_training.leg_extension %>
</p>

<p>
  <strong>Curl:</strong>
  <%= @weight_training.curl %>
</p>

<p>
  <strong>Tricep exstension:</strong>
  <%= @weight_training.tricep_exstension %>
</p>

<p>
  <strong>Should press:</strong>
  <%= @weight_training.should_press %>
</p>

<p>
  <strong>Lat pulldown:</strong>
  <%= @weight_training.lat_pulldown %>
</p>

<p>
  <strong>Bench press:</strong>
  <%= @weight_training.bench_press %>
</p>

<p>
  <strong>Seated row:</strong>
  <%= @weight_training.seated_row %>
</p>

<p>
  <strong>Peck fly:</strong>
  <%= @weight_training.peck_fly %>
</p>

<%= link_to 'Edit', edit_weight_training_path(@weight_training) %> |
<%= link_to 'Back', weight_trainings_path %>
