<!DOCTYPE html>
<html>
<head>
  <title>Health Tracker 2.0</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div class="navbar navbar-fixed-top">
		<div class="navbar-inner">
			<div class="container">
				<a href="#" class="brand">Health Tracker</a>
					<ul class="nav">
					<li><a href="#">Dash Board</a></li>
					<li> <%= link_to "Biometric", biometrics_path %></a></li>
					<li> <%= link_to "Weight Training", weight_trainings_path%></li>
					<li> <%= link_to "Stairs", stairs_path%></li>
					<li> <%= link_to "Cycling", recents_path %></li>
					<li> <%= link_to "Sleep", sleeps_path%></li>
					<li> <%= link_to "Mood", moods_path%></li>
					<li><a href="#">Food</a></li>
					</ul>
			</div>
	    </div>
	</div>
	<% if current_user %>
		<p>
		  <strong>Name:</strong>
		<%= current_user.email %> 
		</p>
	
		<button class="btn btn-warning"><%= link_to "Log out", destroy_user_session_path, method: :delete %></button>
	<% else %>
	<button class="btn"><%= link_to "Log in", new_user_session_path %></button>
	<%end%>
	
<div class="container">
	<p class="notice"><%= notice %></p>
	<!--<p class="alert"><%= alert %></p>-->
	<%= yield %>
</div>

</body>
</html>
